<!DOCTYPE html>
<html>
  <body>

    <h1>Convert  <%=@original_currency%> to <%=@destination_currency%></h1>
    
    <p>
      <%=@amount%> <%=@original_currency%> equals <%=@result%>  <%=@destination_currency%>
    </p>
   
    <a href="/<%=@original_currency%>">
      Go back
    </a>
  </body>
</html>
